<h1>Get Employee</h1>
<label for="email">Enter Email:</label>
<input type="text" id="email" [(ngModel)]="email" />
<button (click)="getEmployee()">Get Employee</button>

<!-- Display employee details -->
<div *ngIf="employee">
    <h2>Employee Details</h2>
    <p>First Name: {{employee.firstName}}</p>
    <p>Last Name: {{employee.lastName}}</p>
    <p>Work Email: {{employee.workEmail}}</p>
    <p>Phone Number: {{employee.phoneNumber}}</p>
    <p>Occupation: {{employee.occupation}}</p>
    <p>Experience: {{employee.experience}} years.</p>
    <p>Company: {{employee.companyName}}</p>
</div>

<div *ngIf="error" style="color: red;">
    {{ error }}
</div>
